<footer th:fragment="mainFooter" id="mainFooter">
	<div id="subFooter">
		<ul class="subFooterUlList">
			<li>
				<p>@Ronnang AB</p>
				<p>This site is for training only, <br />
				it has no purpose<br />
				to make any profit.</p>
			</li>
		</ul>				
		<ul class="subFooterUlList">
			<li>
				<p><b>Credentials:</b></p>						
				<p><span>Name: </span>Marcus Ronnang</p>
				<p><span>Adress</span>Hjortmossegatan 91</p>
				<p><span>Postnr/City</span>461 51 Trollhattan</p>				
			</li>
		</ul>
		<ul class="subFooterUlList">
			<li>
				<p><b>Credentials:</b></p>						
				<p><span>Mail: </span>marcusronnang@hotmail.com</p>
				<p><span>Phone: </span>0735 04 09 94</p>				
			</li>
		</ul>
	</div>
</footer>