html,body{
	margin:0%;
	padding:0%;
	height:100%;
}
#wrapper{
	min-height: 100%;
	width:100%;
	position:relative;	
	display:block;
}
/*-------------------------------------HEADER--------------------------------------------------------------------------*/
#mainHeader{		
	position:static;
	display:block;	
	background-color:rgb(58,82,242);	
	width:100%;	
	margin:0%;
	padding:0%;	
}
#mainHeader > #subHeader{
	width:65%;
	display:flex;
	flex-direction:column;
	margin:0% auto;
	padding:0%;
	height:100%;
	/*border-left:1px solid rgb(255,255,255);*/	
	/*border-right:1px solid rgb(255,255,255);*/
}
#mainHeader > #subHeader > #subHeaderImgCont{
	display:none;	
	flex-direction:column;
	width:40px;
	height:40px;
	margin:2px;
	/*border:3px solid red;*/	
}
#mainHeader > #subHeader > #subHeaderImgCont > #menuImg{
	height:100%;
	width:100%;
}
#mainHeader > #subHeader > #dropMenuCont{
	display:none;	
	width:25%;	
	/*border:1px solid black;*/
	margin:0%;
	padding:0%;
}
#mainHeader > #subHeader > #dropMenuCont > #dropMenuUl{
	list-style:none;
	display:flex;
	flex-direction:column;	
	/*border:2px solid gray;*/	
	margin:0%;
	padding:0%;
}
#mainHeader > #subHeader > #dropMenuCont > #dropMenuUl > li{
	display:flex;
	flex-direction:column;
	/*border:1px solid orange;*/
	/*width:100px;*/	
	height:30px;
	margin:0%;
	padding:0%;
}
#mainHeader > #subHeader > #dropMenuCont > #dropMenuUl > li > a{
	display:flex;
	flex-direction:column;	
	border:1px solid rgb(0,0,0);
	color: rgb(255,255,255);		
	text-decoration:none;
	width:100%;
	height:100%;
	font-size:20px;
	align-items:center;
	justify-content:center;	
	margin:0%;
	padding:0%;
}
#mainHeader > #subHeader > #dropMenuCont > #dropMenuUl > li:hover > a{
	font-weight:bold;
}
#mainHeader > #subHeader > #subHeaderTitleCont{
	display:flex;
	flex-direction:column;	
}
#mainHeader > #subHeader > #subHeaderTitleCont > #siteTitle{
	text-shadow: 3px 3px rgb(0,0,0);
	color: rgb(255,255,255)	;
	margin-left:2%;
}
/*------------------------------------------NAVIGATION-------------------------------------------------------------*/
#mainNav{		 
	position:static;
	display:block;	
	width:100%;	
	margin:0%;
	padding:0%;	
	background-color:rgb(58,82,242);		
}
#mainNav > #subNav{
	display:flex;
	flex-direction:column;
	width:65%;	
	background-color: rgb(31,51,183);
	margin:0% auto;
	padding:0%;
	/*border-left:1px solid rgb(0,0,0);*/	
	/*border-right:1px solid rgb(0,0,0);*/
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#mainNav > #subNav > #mainNavMenuCont{
	display:flex;
	flex-direction:column;	
	margin:0%;
	padding:0%;	
}
#mainNav > #subNav > #mainNavMenuCont > #mainNavMenuUl{
	list-style:none;
	display:flex;
	flex-direction:row;	
	margin:0%;	
	padding: 0% 2% 0% 2%;
}
#mainNav > #subNav > #mainNavMenuCont > #mainNavMenuUl > li{
	display:flex;
	flex-direction:column;
	height:45px;
	margin:0%;	
	/*border:2px solid red;*/
	width:12%;			
}
#mainNav > #subNav > #mainNavMenuCont > #mainNavMenuUl > li > a{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	color: rgb(255,255,255);
	font-size: 20px;	
	margin:0%;
	padding:0%;	
	text-decoration: none;	
	justify-content:center;
	align-items:center;		
	border-right: 1px solid black;
	border-left: 1px solid black;		
}
#mainNav > #subNav > #mainNavMenuCont > #mainNavMenuUl > li:hover > a{
	font-weight:bold;
}
/*------------------------------------------MAIN SECTION/MAIN CONTENT-------------------------------------------------------*/
#mainContent{
	position:static;
	display:block;	
	margin:0%;
	padding:0%;	
	width:100%;
	background-color: rgb(255,255,255);	
	padding-bottom: 185px;   			/*ONLY FOR MAKING THE FOOTER AT BOTTOM OF PAGE AND MAKING ALL 
											CONTENT IN BODY CONTAINER FIT IN!*/	
	border-bottom: 2px solid green;		
}
#mainContent > #subContent{
	display:flex;
	flex-direction:row;
	width:65%;
	height:100%;
	background-color: rgb(255,255,255);
	margin:0% auto;
	padding:0%;
	/*border-left:1px solid rgb(0,0,0);*/	
	/*border-right:1px solid rgb(0,0,0);*/
}
#mainContent > #subContent > #subContSect{
	display:flex;
	flex-direction:column;
	margin-right:1%;
	padding:0%;
	width:75%;
	/*border-right:1px solid rgb(0,0,0);*/
	/*align-items:center;*/	
}

/*---------------------------FIRST ARTICLE SEARCH WEATHER FOR CITY---------------------------------*/
#mainContent > #subContent > #subContSect > #subContSectArtSearch{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;	
	align-items:center;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #headerCity{
	width:400px;
	text-align: center;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity{
	display:flex;
	flex-direction:row;
	margin:0%;
	padding:0%;	
}

/*-------------------DROPDOWN SEARCH-------------------------*/

#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont{
	display:flex;
	flex-direction:column;
	width:200px;	
	margin-right:3%;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont > #buttonShowCityDropList{
	width:100%;	
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont > #selCityDropDownCont{
	display:none;
	flex-direction:column;
	width:100%;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont > #selCityDropDownCont > #formSelectCity{
	display:flex;
	flex-direction:column;
	width:100%;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont > #selCityDropDownCont > #formSelectCity > select{
	display:flex;
	flex-direction:column;
	width:100%;
}

/*-----------------SEARCH CITY BY TYPING------------------------*/

#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #typeCityCont{
	display:flex;
	flex-direction:column;
	width:200px;	
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #typeCityCont > #buttonShowTypeCityType{
	width:100%;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #typeCityCont > #typingCityCont{
	display:none;
	flex-direction:column;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #typeCityCont > #typingCityCont > #typeCityForm{
	display:flex;
	flex-direction:column;
}
#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #typeCityCont > #typingCityCont > #typeCityForm > .typeCityParagraph{
	display:flex;
	flex-direction:row;
}

/*-------------------SECOND ARTICLE CONTAINING WEATHERDATA------------------------------------*/
#mainContent > #subContent > #subContSect > #artWeatherInfo{
	display:flex;
	flex-direction:row;
	margin:0%;
	padding:0%;	
	justify-content:center;
	align-items:center;
	width:100%;	
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo{
	display:flex;
	flex-direction:column;
	width:100%;	
	/*border:1px solid black;*/
	justify-content:center;
	align-items:center;
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic{
	display:flex;
	flex-direction:row;	
	width:100%;
	justify-content:center;
	align-items:center;
	/*border:1px solid black;*/
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic > #divPrev,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic > #divNext,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic > #weatherArrController
{
	display:flex;
	flex-direction:column;	
	margin-right: 2%;
	margin-left: 2%;
	/*border:1px solid black;*/	 
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic > #divPrev > #imgPrev,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo #divPrevNextPic > #divNext > #imgNext{
	width:30px;
	height:30px;
	
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #weatherInfoHeader{
	text-align: center;
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divLocation,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divTime,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divTempWeatherDesc,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divWind,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divPresipitation,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divAirPressure,
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divWind{
	display:flex;
	flex-direction:row;	
	width:100%;
	
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divTempWeatherDesc > p > #weatherImg{
	display:block;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > div > p{	
	width:33%;
	border:1px solid rgb(0,0,0);	
}
.empty{
	visibility:hidden;
}

/*---------------------------ASIDE WITCH BELONGS TO MAIN SECTION BELOW SUBCONTENT-------------*/

#mainContent > #subContent > #subContAside{
	display:flex;
	flex-direction:column;
	margin:0%;
	padding:0%;
	width:25%;	
	align-items:center;
}
/*----------------------------------------------------FOOTER----------------------------------------------------------*/
#mainFooter{
	width:100%;
	position:absolute;	
	display:block;
	bottom: 0px;
	left:0px;
	height:180px;
	background-color:rgb(0,0,0);	/*ONLY FOR MAKING THE FOOTER AT BOTTOM OF PAGE AND MAKING ALL 
											CONTENT IN BODY CONTAINER FIT IN!*/	
}
#mainFooter > #subFooter{
	width:65%;
	display:flex;
	flex-direction:row;
	margin:0% auto;
	padding:0%;
	height:100%;
	/*border-left:1px solid rgb(255,255,255);*/	
	/*border-right:1px solid rgb(255,255,255);*/
	justify-content:center;
}
#mainFooter > #subFooter > .subFooterUlList{
	display:flex;	
	flex-direction:column;	
	list-style: none;
	margin:0% 5%;
	padding:1% 3% 0% 3%;	
	border-right: 1px solid #242424;	
	border-left: 1px solid #242424;	
}
#mainFooter > #subFooter > .subFooterUlList > li{
	display:flex;
	flex-direction:column;	
	margin:0%;
	padding:0%;
}
#mainFooter > #subFooter > .subFooterUlList > li > p{
	display:flex;
	flex-direction:column;
	color:rgb(255,255,255);
	margin:0%;
	padding:0%;
}
/*------------------------------------------------DIVERSE-----------------------------------------------------*/
.span{
	width:125px;	 
	font-weight:bold;
	border:1px solid orange;
	text-align:right;
}
.labelRight{
	width:45%;	 
	font-weight:bold;
	/*border:1px solid orange;*/
	text-align:right;
	display:inline-block;
}
.labelLeft{
	width:45%;	 
	font-weight:normal;
	/*border:1px solid orange;*/
	text-align:left;
	display:inline-block;
}
.button{
	color:rgb(255,255,255);
	background-color: rgb(58,82,242);
	border-radius:10px;
}

/*------------------------------------------------@MEDIA--------------------------------------------------------------------------*/

@media screen and (max-width:850px) and (min-width:1px){
	
	#mainHeader > #subHeader, #mainFooter > #subFooter, #mainContent > #subContent{
		width:100%;
	}
	
	/*--------------------------------------HEADER SECTION----------------------------------*/
	#mainHeader{
		/*height:125px;*/ 
	}	
	
	#mainHeader > #subHeader > #subHeaderImgCont{
		display:flex;
	}	
	/*-----------------------------------NAV SECTION----------------------------------------*/
	#mainNav{
		display:none;		
	}	
	/*-----------------------------------CONTENT SECTION------------------------------------*/
	#mainContent{
		padding-bottom: 410px; 
	}
	#mainContent > #subContent{
		flex-direction:column;
	}
	#mainContent > #subContent > #subContSect{
		border-right: none;
		border-bottom: 1px solid rgb(0,0,0);
		margin:0;
		width:100%;		
	}	
	#mainContent > #subContent > #subContSect > #subContSectArtSearch{
		align-items:center;
	}
	#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity{
		flex-direction:column;
	}
	#mainContent > #subContent > #subContSect > #subContSectArtSearch > #headerCity{
		width:200px;		
	}
	#mainContent > #subContent > #subContSect > #subContSectArtSearch > #searchCity > #selCityCont{		
		width:200px;	
		margin-bottom:10px;	
		margin-right:0;
	}
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divLocation,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divTime,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divTempWeatherDesc,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divWind,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divPresipitation,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divAirPressure,
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > #divWind{		
		flex-direction:column;	
		align-items:center;	
	}
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo{		
		flex-direction:column;
		width:50%;	
	}
	#mainContent > #subContent > #subContSect > #artWeatherInfo > #divWeatherInfo > div > p{		
		width:100%;				
	}	
	#mainContent > #subContent > #subContAside{
		width:100%;			
	}
	/*Paragrahps with no content inside = move away from screen*/
	.empty{
		display:none;
	}	
	/*-----------------------------------FOOTER SECTION-------------------------------------*/
	#mainFooter{
		height:400px;
	}
	#mainFooter > #subFooter{
		flex-direction:column;
		justify-content:flex-start;
		align-items:flex-start;		
	}
	#mainFooter > #subFooter > .subFooterUlList{
		border-right:none;	
		border-left: none;
		border-top: 1px solid #242424;
		border-bottom: none;
		margin:1% 0%;
		padding:2% 3% 2% 3%;	
	}	
}