<!DOCTYPE html>
<html>
	<head>	
		<title th:text="Login">Insert title here</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />		
		<link rel="stylesheet" type="text/css" href="resources/css/templates/default/htmlBodyWrapper.css" th:href="@{resources/css/templates/default/htmlBodyWrapper.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/templates/header/header.css" th:href="@{resources/css/templates/header/header.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/templates/nav/navigation.css" th:href="@{resources/css/templates/nav/navigation.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/calendar.css" th:href="@{resources/css/calendar.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/templates/footer/footer.css" th:href="@{resources/css/templates/footer/footer.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/templates/default/default.css" th:href="@{resources/css/templates/default/default.css}"/>
		<link rel="stylesheet" type="text/css" href="resources/css/dateAndTime/datetimepicker.css" th:href="@{resources/css/dateAndTime/datetimepicker.css}"/>										
	</head>
	<body>
		<div id="wrapper">
			<header th:replace="/templates/header/header :: mainHeader"></header>
			<nav th:replace="/templates/nav/nav :: mainNav"></nav>	
			<div id="mainContent">
				<div id="subContent">
					<section id="mainCalendar">
						<h1>Calendar</h1>
						<article id="calMenu" >
							<img id="calMenuPrevMonth" alt="&lt;" src="resources/img/prev.png" th:src="@{resources/img/prev.png}" />
							<h2 id="calMenuYearAndMonth">2001 : Jan</h2>																			
							<img id="calMenuNextMonth" alt="&gt;" src="resources/img/next.png" th:src="@{resources/img/next.png}" />							
						</article>
						<article id="calDaysCont"></article>
						<article id="calDayCont">
							<h3>Add event</h3>
							<form id="eventDataForm" action="#" method="post" th:action="@{/calendarAddDayEvent}" th:object="${calDayColl}">
								<div id="dateTimeFromCont">
									<div id="dateFromCont">
										<label class="labelRight">Date from:&nbsp;</label>
										<input type="text" id="dateFrom" maxlength="10" value="Please enter date!" th:field="*{ymdFrom}"/>
									</div>
									<div id="timeFromCont">
										<label class="labelRight">Time from:&nbsp;</label>
										<input type="text" id="timeFrom" maxlength="5" value="Please enter time!" th:field="*{hoursMinFrom}"/>
									</div>								
								</div>
								<div id="dateTimeToCont">
									<div id="dateToCont">
										<label class="labelRight">Date to:&nbsp;</label>
										<input type="text" id="dateTo" maxlength="10" value="Please enter date!" th:field="*{ymdTo}"/>
									</div>
									<div id="timeToCont">
										<label class="labelRight">Time to:&nbsp;</label>
										<input type="text" id="timeTo" maxlength="5" value="Please enter time!" th:field="*{hoursMinTo}"/>
									</div>	
								</div>
								<div id="titleCont">
									<label class="labelRight">Title:&nbsp;</label>
									<input id="eventTitle" type="text" maxlength="20" value="Enter title" th:field="*{title}" />
								</div>
								<div id="locCont">
									<label class="labelRight">Location:&nbsp;</label>
									<input id="eventLoc" type="text" maxlength="30" value="Enter location" th:field="*{location}" />
								</div>
								<div id="descCont">
									<label class="labelRight">Description:&nbsp;</label>
									<input id="eventDesc" type="text" maxlength="200" value="Description" th:field="*{description}" />
								</div>
								<div id="eventSubmCont">
									<input type="submit" class="button" id="addEventButton" value="Submit" />
								</div>
							</form>
						</article>						
					</section>
				</div>
			</div>
			<footer th:replace="/templates/footer/footer :: mainFooter"></footer>
			<script type="text/javascript" src="resources/js/jQuery/jquery-2.1.1.js"></script>
			<script type="text/javascript" src="resources/js/dateAndTime/datetimepicker.js"></script>
			<script type="text/javascript" th:inline="javascript">
				//<![CDATA[					
					$(document).ready(function(){						
/*--------------------------------------Functionality to populate the calendar-----------------------------------------*/											
						var dayList = /*[[${calDaysColl}]]*/ 'daysObj';
						//var dayList = dayListFatherObj.calDaysCollList;
						var calDaysContainer = document.getElementById("calDaysCont");
						//alert("Working0");
						//alert("Daylist length is: " + dayList.length);
						
						//Set actual month in calendar 
						
						var year=/*[[${year}]]*/ 'year';
						var intMonth=/*[[${intMonth}]]*/ '1';
						var month=/*[[${month}]]*/ 'month';
						var day=/*[[${day}]]*/ 'day';
						
						//Holds a full month data(Year, month and days...)
						var monthCalCont;
						//To know if a page has made an ajax call or with data of a full month, clicked on prev/next month image
						var boolAjaxMonthLoaded;
						/*
						alert("Year: " + year);
						alert("Month: " + month);
						alert("Month: " + intMonth);
						alert("Day: " + day);
						*/
						
						var monthCounter=0;	
						
						printOutYearAndMonth(year,month);
						printOutWeekDays();	
						printOutWeekDaysShort();
						
						for(var i=0; i<dayList.length;i++){													
							if((i % 7) == 0 ){								
								var weekDiv = document.createElement("div");								
								weekDiv.className="weekDiv";								
								calDaysContainer.appendChild(weekDiv);
								//alert("Working2: " + i);									
							}									
							var dayDiv = document.createElement("div");
							//Clicked day is only for jQuery to catch clicked day div
							dayDiv.className="dayDiv clickedDay";
							weekDiv.appendChild(dayDiv);
							
							var dayDateDiv= document.createElement("div");
							dayDateDiv.innerHTML=dayList[i].dayOfMonth;
							dayDateDiv.className="dayDateDiv";
							dayDiv.appendChild(dayDateDiv);	
							alert("Number of events is: " + dayList[i].numberOfEvents);
							
							var dayDateFull = document.createElement("div");
							var dateFull = new Date(dayList[i].year, dayList[i].month, dayList[i].dayOfMonth);
							alert(dateFull)
							dayDateFull.innerHTML=dateFull;
							dayDateFull.className="dayDateDiv fullDate";
							dayDateFull.style.display="none";
							dayDiv.appendChild(dayDateFull);							
							
							var dayEventExistsCont = document.createElement("div");
							dayEventExistsCont.className="dayEventExistsCont";
							dayDiv.appendChild(dayEventExistsCont);
							var dayEventExistsImg = document.createElement("IMG");
							dayEventExistsImg.className="dayEventExistsImg";
							dayEventExistsImg.src="resources/img/activityExists.jpg";
							dayEventExistsCont.appendChild(dayEventExistsImg);
							
							var dayAppendEventCont = document.createElement("div");
							dayAppendEventCont.className="dayAppendEventCont";
							dayDiv.appendChild(dayAppendEventCont);							
							var addDayEventImg = document.createElement("IMG");
							addDayEventImg.src="resources/img/addActivity.png";							
							addDayEventImg.className="addDayEventImg";
							dayAppendEventCont.appendChild(addDayEventImg);
							//alert("Working");
							//alert(addDayEventImg.src);
							
						}
						boolAjaxMonthLoaded=false;
						
/*-----------------------------------Functionality for adding or subtracting month in calendar------------------------*/						
						$("#calMenuPrevMonth").click(function(){							
							monthCounter-=1;
							//alert("Counter is: " + monthCounter);
							$.ajax({
								type: 'GET',		
								url: 'calendar/addSubMonth',
								data: {'month': monthCounter},
								dataType: 'json',		
								success: function(data){
									boolAjaxMonthLoaded=true;
									monthCalCont=data;										
									populateMonthCalendar();									
								}		
							}).error(function(data){																		
								alert('Fail');											
							});	
						});
						$("#calMenuNextMonth").click(function(){
							monthCounter+=1;
							//alert("Counter is: " + monthCounter);
							$.ajax({
								type: 'GET',		
								url: 'calendar/addSubMonth',
								data: {'month': monthCounter},
								dataType: 'json',		
								success: function(data){
									boolAjaxMonthLoaded=true;
									monthCalCont=data;										
									populateMonthCalendar();									
								}		
							}).error(function(data){																		
								alert('Fail');											
							});	
						});
/*------------------------------Functionality when click on a specific day------------------------------------------*/
						$(document).on("click",".dayAppendEventCont", function(){
							//alert("Click");
							//var day=$(this).parent().find(".dayDateDiv").text();
							var day1=$(this).parent().find(".fullDate").text();
							
							//alert(day);
							//var day=$(this).find(".dayDateDiv").text();
							
							/*
							var year1, month1;							
							if(boolAjaxMonthLoaded==false){
								year1=year;
								month1=intMonth;
								//alert(boolAjaxMonthLoaded);
							}
							else{
								year1=monthCalCont.year;
								month1=monthCalCont.month;
								//alert(boolAjaxMonthLoaded);
							}
							*/
							
							//var actualDate=new Date(year1, month1, day);
							var actualDate=new Date(day1);							
							
							if(actualDate < new Date()){
								actualDate=new Date();
								alert("Date is lesser than today!");
							}							
							
							alert("Date is: " + actualDate);
							//alert("Year: " + year1);
							//alert("Month: " + month1);
							//alert("Day: " + day);
							$("#calMenu").css("display", "none");
							$("#calDaysCont").css("display", "none");
							$("#calDayCont").css("display", "flex");
							//alert("Slideup/Slidedown");
							
							/* ---------------------Functionality to set date/time on selected day*/						
							var datefrom = $('#dateFrom').datetimepicker({
								//value:year1 + "-" + month1 + "-" + day,
								value:actualDate.getFullYear() + "-" + (actualDate.getMonth() + 1) + "-" + actualDate.getDate(),								
								timepicker:false,
								format:'Y-m-d',
								lang:'en',
								minDate:0
							});
							var timefrom = $('#timeFrom').datetimepicker({
								datepicker:false,
								format:'H:i',
								lang:'en',
								minTime:'00:00'
							});
							var dateTo = $('#dateTo').datetimepicker({
								timepicker:false,
								format:'Y-m-d',
								lang:'en',
								minDate:0
							});
							var timeTo = $('#timeTo').datetimepicker({
								datepicker:false,
								format:'H:i',
								lang:'en',
								minTime:'00:00'
							});							
						});	

/*------------------------------------Clear all childnodes in calDaysCont, which contains all month data--------------*/
						function clearChilds(fathernode){							
							var fathernodeOne=document.getElementById(fathernode);
							while(fathernodeOne.firstChild){
								fathernodeOne.removeChild(fathernodeOne.firstChild);
							}							
						}
/*------------------------------------Produces a complete new month---------------------------------------------------*/
						function populateMonthCalendar(){							
							//alert(monthCalCont);																
							//alert(JSON.stringify(monthCalCont));
							//alert("In populateMonthCalendar function!");
							
							clearChilds("calDaysCont");
							printOutYearAndMonth(monthCalCont.year,monthCalCont.monthInText);
							printOutWeekDays();
							printOutWeekDaysShort();
							printOutEachDayDataColl();
						}
/*------------------------------------Creates a div containing events for a full day-----------------------------------*/
						function printOutEachDayDataColl(){
							for(var i=0; i<monthCalCont.calDaysData.length;i++){													
								if((i % 7) == 0 ){								
									var weekDiv = document.createElement("div");								
									weekDiv.className="weekDiv";								
									calDaysContainer.appendChild(weekDiv);
									//alert("Working2: " + i);									
								}									
								var dayDiv = document.createElement("div");
								//Clicked day is only for jQuery to catch clicked day div
								dayDiv.className="dayDiv clickedDay";
								weekDiv.appendChild(dayDiv);								
								
								var dayDateDiv= document.createElement("div");
								dayDateDiv.innerHTML=monthCalCont.calDaysData[i].dayOfMonth;
								dayDateDiv.className="dayDateDiv";
								dayDiv.appendChild(dayDateDiv);	
								
								var dayDateFull = document.createElement("div");
								var dateFull = new Date(monthCalCont.calDaysData[i].year, monthCalCont.calDaysData[i].month, monthCalCont.calDaysData[i].dayOfMonth);
								//alert(dateFull)
								dayDateFull.innerHTML=dateFull;
								dayDateFull.className="dayDateDiv fullDate";
								dayDateFull.style.display="none";
								dayDiv.appendChild(dayDateFull);	
								
								var dayEventExistsCont = document.createElement("div");
								dayEventExistsCont.className="dayEventExistsCont";
								dayDiv.appendChild(dayEventExistsCont);
								var dayEventExistsImg = document.createElement("IMG");
								dayEventExistsImg.className="dayEventExistsImg";
								dayEventExistsImg.src="resources/img/activityExists.jpg";
								dayEventExistsCont.appendChild(dayEventExistsImg);
								
								var dayAppendEventCont = document.createElement("div");
								dayAppendEventCont.className="dayAppendEventCont";
								dayDiv.appendChild(dayAppendEventCont);							
								var addDayEventImg = document.createElement("IMG");
								addDayEventImg.src="resources/img/addActivity.png";							
								addDayEventImg.className="addDayEventImg";
								dayAppendEventCont.appendChild(addDayEventImg);
								//alert("Working");
								//alert(addDayEventImg.src);
							}
						}
/*-----------------------------------Print out a set year and month in a div---------------------------------------------*/
						function printOutYearAndMonth(year, month){
							var yearAndMonthHeader=document.getElementById("calMenuYearAndMonth").innerHTML=year + " : " + month;
						}
/*-----------------------------------Prints out all the days in a week with full dayname---------------------------------*/
						function printOutWeekDays(){
							var weekDiv = document.createElement("div");								
							weekDiv.className="weekDiv";
							weekDiv.id="weekDivWide";
							calDaysContainer.appendChild(weekDiv);						
							var weekdayNameArr=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
							for (var i=0;i<weekdayNameArr.length;i++){
								var dayDiv = document.createElement("div");
								dayDiv.className="dayDiv bold";							
								weekDiv.appendChild(dayDiv);
								var dayNameDiv= document.createElement("div");
								dayNameDiv.innerHTML=weekdayNameArr[i];						
								dayDiv.appendChild(dayNameDiv);
							}
						}
						/*-----------------------------------Prints out all the days in a week with short dayname---------*/
						function printOutWeekDaysShort(){
							var weekDiv = document.createElement("div");								
							weekDiv.className="weekDiv";
							weekDiv.id="weekDivSmall";
							calDaysContainer.appendChild(weekDiv);						
							var weekdayNameArr=["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"];
							for (var i=0;i<weekdayNameArr.length;i++){
								var dayDiv = document.createElement("div");
								dayDiv.className="dayDiv bold";							
								weekDiv.appendChild(dayDiv);
								var dayNameDiv= document.createElement("div");
								dayNameDiv.innerHTML=weekdayNameArr[i];						
								dayDiv.appendChild(dayNameDiv);
							}
						}
					});					
				//]]>
		</script>  				           
		</div>
	</body>
</html>