<header th:fragment="mainHeader" id="mainHeader">			 
	<div id="subHeader">
		<div id="topMenuCont">
			<ul id="topMenuUl">
				<li th:if="${accessLevel == '[ROLE_ADMIN]'}">
					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Logout" />
        			</form>
				</li>
			</ul>
		</div>
		<div id="subHeaderTitleCont">
			<h1 id="siteTitle" >Dream Weather</h1>
		</div>			
		<div id="subHeaderImgCont">
			<img id="menuImg" alt="=" src="resources/img/threelines.png" />					
		</div>
		<div id="dropMenuCont">
			<ul id="dropMenuUl">
				<li>
					<a id="home1" href="/home" th:href="@{/home}" >Home</a>
				</li>
				<li>
					<a id="calendar1" href="/calendar" th:href="@{/calendar}" >Calendar</a>
				</li>
				<li th:unless="${accessLevel == '[ROLE_ADMIN]'}">
					<a id="login1" href="/login" th:href="@{/login}" >Login</a>
				</li>
			</ul>
		</div>					
	</div>
	<script type="text/javascript" src="resources/js/jQuery/jquery-2.1.1.js"></script>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[	
			$(document).ready(function(){
				var checkWindowWidthTimer = setInterval(function(){checkDropMenuSize()}, 10000);				
				//Show dropmenu when click on dropmenuImage
				$("#menuImg").click(function (){
					//alert("Clicked");
					$("#dropMenuCont").slideToggle();
				});			
				/*-------------------------------------FUNCTIONS--------------------------------------------------*/
				//If window size is to large hide dropmenu				
				function checkDropMenuSize(){
					var windowWidth = window.innerWidth;
					/*alert(windowWidth);*/
					if(windowWidth > 850){
						$("#dropMenuCont").css("display", "none");
					}
				}	
			});
				
			
				
				
			
			
		//]]>
	</script>
</header>	